.PageContent {
    width: 90vw;
    height: 50rem;
    display: flex;
    justify-content: space-between;
    padding-top: 9rem;
}

.carouselPic {
    height: 75rem;
    position: absolute;
    right: 3rem;
    top: 16rem;
}

